@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="err-container">
    <div class="card err-card flex flex-col items-center text-center">
        <h1 class="text-danger mb-2">Error.</h1>
        <h2 class="text-danger mb-3">An error occurred while processing your request.</h2>

        @if (Model.ShowMessage)
        {
            <p class="mb-2">
                @Model.Message
            </p>
        }
    </div>
</div>
