@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="err-container">
    <div class="card err-card flex flex-col items-center text-center">   
        <h2 class="text-danger mb-3">An error occurred while processing your request.</h2>

        @if (Model.ShowMessage)
        {
            <p class="mb-2">
                @Model.Message
            </p>
        }
        @if (!string.IsNullOrEmpty(Model?.ControllerName) && !string.IsNullOrEmpty(Model?.ControllerAction))
        {
            <button class="btn w-full"
                    asp-area=""
                    asp-controller="@Model.ControllerName"
                    asp-action="@Model.ControllerAction">
                Okay
            </button>
        }

    </div>
</div>
