@{
    ViewData["Title"] = "Product Added";
}

<main class="main-content">
    <div class="auth-container">
        <div class="card auth-card text-center">
            <h1 class="mb-2">🎉 Product Added Successfully</h1>
            <p class="mb-3">The Product has been added to the system. You can now view this product or add another product.</p>
            <div class="flex flex-col">
                <a href="/Farmers/List" class="btn mb-2">View All Products</a>
                <a asp-controller="Farmer" asp-action="AddProduct" class="btn">Add Another Product</a>
            </div>
        </div>
    </div>
</main>
